body {
	padding-top: 50px;
	color: #959595;
	}
	
					
h1, h2, h3, h4, h5, h6 {
	color: rgb(255, 255, 255);
	}
	
.feature {
	background: rgb(235, 168, 235) linear-gradient(to bottom, rgb(241, 209, 239), rgb(129, 22, 111));
	color: rgb(169, 82, 196);
	}
.wilkommen {
	font-size: 20px;
}
#feature-carousel {
	min-height: 250px;
	
	}
	
.article-intro {
    margin-bottom: 25px;
}
.article-intro  p:first-letter{
    font-weight:bold;
    font-size: 20px;
}

.footer-blurb {
    background-color: rgb(163, 83, 157);
    color: rgb(126, 16, 136);
}
.footer-blurb p:first-letter{
	font-weight:bold;
    font-size: 20px; 
}
.footer-blurb-item {
    padding: 30px;
    }
 
.small-print {
	background-color: #eee;
	padding: 30px 0;
}
.article-intro p:first-letter    {
    font-weight:bold;
    font-size: 20px;
}
.feature,
.page-intro,
.article-intro,
.footer-blurb,
.small-print {
	text-align: left;
	
	}

.item  {
	text-align: center;
}

.item h1 {
	color: rgb(119, 16, 102);
}

.item p {
	color: white;
}